.carousel
    .carousel-item > img
        // object-fit contain
        max-width 100%
        max-height 100%

    .carousel-control-prev, .carousel-control-next
        & > img
            // width 48px
            // height 48px

        &:hover > img
            filter drop-shadow(0 0 4px #fff)


.carousel.carousel-flex
    display flex
    flex-direction column

    .carousel-inner
        display flex
        flex 1 1 auto

    .carousel-item
        // display flex
        flex-direction column
        flex 1 1 auto

    .carousel-item.active
        display flex

    .carousel-item-next, .carousel-item-prev
        display flex
        min-height 100%
