$root = "../../"

.font-header
    font-family "Trajan Pro 3"
    color #f7f8f8

.font-trajan
    font-family "Trajan Pro 3"

// --- backgrounds ---
.bg-panel
    background-image linear-gradient(to bottom, rgba(white, 0.45) 0%, rgba(#313436, 0) 100%)
    background-repeat no-repeat

    &-big
        background-image linear-gradient(to bottom, rgba(white, 0.45) 0%, rgba(white, 0.45) 80%, rgba(#313436, 0) 100%)
        background-repeat no-repeat

.border-panel
    position relative
    border-top 2px solid rgba(white, 0.8)

    &:before, &:after
        content ""
        position absolute
        top -2px
        width 2px
        height 100%
        background-image linear-gradient(to bottom, rgba(white, 0.6) 0%, rgba(#313436, 0) 100%)

    &:before
        left 0
    &:after
        right 0

    &_big
        &:before, &:after
            height 180px
