footer.container
    div.row.mx-0: div.col-12.panel.bg-grad-down.border-grad-down.pb-1
        div.row
            div.col-sm-9.col-xs-6
                h3.text-uppercase.text-center Наши партнёры
                div.partners
                    a(href="https://vk.com/" target="_blank"): img(src=require("assets/logo/sid.png"))
                    a(href="https://vk.com/" target="_blank"): img(src=require("assets/logo/sirius.png"))
                    
            div.col-sm-3.col-xs-6.text-center
                div.d-inline-block.text-left
                    h3.text-uppercase Обратная связь
                    div.contacts
                        a(href="mailto:miroslav@skymp.ru?body=Привет!") miroslav@skymp.ru
                        br
                        a(href="mailto:pospelov@skymp.ru?body=Привет!") pospelov@skymp.ru
                    
                    h3.text-uppercase.mt-2 Мы в соцсетях
                    div.socials
                        a.pr-2(href="https://vk.com/" target="_blank"): i.fa.fa-vk
                        a.px-2(href="https://youtube.com/" target="_blank"): i.fa.fa-youtube-play
