- var _data = require('./_data');
nav#navbar.navbar.navbar-expand-sm
    .container
        a.navbar-brand.d-none.d-lg-block(href="/")
            
        .col.navbar-nav.font-header
            each item, i in _data.menu
                a.nav-link.text-uppercase.text-center(data-route-name=item.name href=item.url) #{item.title}
