$root = "../../../"
@require $root + "app/utils.styl"

sm = 576px
md = 768px
lg = 992px
xl = 1200px

// adaptive fix
body
    min-width xl

    .container
        min-width xl
// ---

#about
    position relative
    background url($root + "assets/images/bg-clouds.png")
    background-repeat repeat
    background-position-x -100px
    // perspective 1px

    h2
        font-family "Trajan Pro 3"
        font-weight bolder
        font-size 30px
        line-height 55.49px

    h3
        font-family "Trajan Pro 3"
        font-weight bolder
        font-size 17px
        line-height 32px

    main > section.slide
        position relative
        min-height 100%
        background-size cover
        background-position center top

        .slide-inner
            min-height 100%

// -- slides --
#begin
    h1
        color #efd997
        font-family "Trajan Pro 3"
        font-size 64px
        font-weight 600
        line-height 1.1em
        letter-spacing -2.28px
        margin 0

    h1.bg-clip-text
        background-image linear-gradient(to top, rgba(229, 195, 90, 1) 0%, rgba(255, 255, 255, 1) 100%)

    h1 + img
        max-width 100%

    .slide-preview
        $color = #ebe1c2
        $color2 = #fbd05a
        flex 1 1 auto

        .slide-preview-icon
            flex-grow 1

            & > img
                max-width 100%

            & > img.shadow
                filter drop-shadow(0 0 1px $color) drop-shadow(0 0 1px $color) drop-shadow(0 0 1px $color) drop-shadow(0 0 1px $color) drop-shadow(0 0 1px $color)

        .slide-preview-text
            text-shadow 1px 3px 5px rgba(0, 0, 0, 1)
            color #fdfaf1
            font-family "Trajan Pro 3"
            font-size 24px
            line-height 27.49px
            letter-spacing -0.97px

        &:hover
            text-decoration none
            color $color2

            // img
            //     filter drop-shadow(0 0 5px #fbd05a) !important

            img.shadow
                filter drop-shadow(0 0 1px $color) drop-shadow(0 0 1px $color) drop-shadow(0 0 1px $color)  drop-shadow(0 0 1px $color)  drop-shadow(0 0 5px $color2) !important

            .slide-preview-text
                // text-shadow 0 0 17px rgba(251, 208, 90, 0.69)
                color $color2


    .begin-description
        color #000
        opacity 0.9
        font-family Aniron
        font-size 26px
        font-weight 700
        text-shadow 0 0 15px #fff, 0 0 15px #fff
        letter-spacing -0.53px
        transform scaleX(0.8)

        em
            font-style inherit
            font-size 1.26em

        & > p.desc-3
            font-size 1.13em
            letter-spacing -0.7px

    .begin-description-2
        color #fff
        font-family Aniron
        font-size 37px
        font-weight 700
        line-height 58.89px
        text-align right
        background-image linear-gradient(to top, rgba(229, 195, 90, 1) 0%, rgba(255, 255, 255, 1) 100%)

        @media screen and (max-width: xl - 0.02)
            font-size 34px

#newbie
    background-image url($root+'assets/images/bg-newb.png')

    h2
        color #000
        font-family "Trajan Pro 3"
        font-size 60px
        line-height 96px
        letter-spacing -1.81px
        background-image linear-gradient(to top, #3e8397 0%, #000 100%)
        filter drop-shadow(1px 2px 0 #000) drop-shadow(0 0 49px #fff)

        .name
            font-size 90px

    #newb-carousel
        flex 1 1 auto

        .carousel-inner
            // background-image linear-gradient(to right, rgba(white, 0) 0%, rgba(white, 0.5) 40%, rgba(white, 0.5) 60%, rgba(white, 0) 100%)
            background-image linear-gradient(to right, rgba(white, 0) 0%, rgba(white, 0.5) 50%, rgba(white, 0) 100%)

            &:before, &:after
                content ""
                position absolute
                left 0
                width 100%
                height 2.5px
                background-image linear-gradient(to right, rgba(white, 0) 0%, rgba(white, 0.9) 50%, rgba(white, 0) 100%)
            &:before
                top 0
            &:after
                bottom 0

        .carousel-control-prev, .carousel-control-next
            width 10%
            opacity 1

        .carousel-item
            padding 1rem

            & > h3
                text-shadow 1px 2px 2px #000, 0 0 17px rgba(255, 255, 255, 0.55)
                color #27525d
                font-family "Trajan Pro 3"
                font-size 89px
                line-height 1em

            h3 > img
                max-height 2em

        .carousel-item-text
            text-shadow 0 0 43px white
            color #000
            font-family Aniron
            font-size 27px
            font-weight 700
            letter-spacing -0.5px
            line-height 1em
            min-height 7em

            & > p
                margin 0

    .carousel-indicators
        position relative
        top auto
        left auto
        right auto
        bottom auto
        width auto
        height auto
        margin 0
        background none

        & > li
            position relative
            top auto
            left auto
            right auto
            bottom auto
            width auto
            height auto
            margin 0
            text-indent 0
            background none

            cursor pointer

            .icon
                position relative
                flex 1 1 auto
                filter drop-shadow(0 0 2px #fff)

                & > img
                    max-height 100px
                    max-width 50%

            .title
                color #fff
                font-family "Trajan Pro 3"
                font-size 21px
                font-weight 700
                letter-spacing -0.31px
                text-shadow 0 0 17px #000

        // .carousel-indicators
        //     .icon > img
        //         filter drop-shadow(0 0 1px #fff)

        & > li.active, & > li:hover
            $color = #ffebb9
            background none

            .icon
                filter drop-shadow(0 0 5px $color)

            .title
                color #000
                text-shadow 0 0 17px $color


    .newb-footer
        color #fff
        font-family "Trajan Pro 3"
        font-size 63px
        line-height 82.47px
        letter-spacing -1.12px
        background-image linear-gradient(to top, #fad375 0%, #dfdfdf 100%)
        filter drop-shadow(2px 1px 7px black)

#craft
    background-image url($root+'assets/images/bg-craft.png')

    h2
        color #fff
        font-family "Trajan Pro 3"
        font-size 80px
        font-weight 400
        line-height 1.1em
        letter-spacing -2px
        background-image linear-gradient(to top, rgb(229, 195, 90) 0%, #fff 100%)
        filter drop-shadow(1px 2px 3px #000)
        // transform scaleX(0.8)

    .craft-tabs
        flex 1 1 auto

        .nav
            height 200px

            & > .nav-item
                border-bottom 3.4px solid black
                // border-image linear-gradient(to right, #000 0%, #000 100%) 1 // just color don't work well. Different width issue

                & > .icon
                    flex 1 1 auto
                & > .icon > img
                    max-width 100%
                    max-height 100%
                    filter drop-shadow(0 0 10px #fff)

                & > .title
                    color #000
                    font-family "Trajan Pro 3"
                    font-size 20px
                    font-weight bolder
                    line-height 1em
                    text-shadow 0 0 8px #fff

                &.active
                    background-image linear-gradient(to top, rgba(#fff, 0.5) 20%, rgba(#fff, 0) 100%)
                    border 0

            & > .nav-item:first-child
                // flex 1 1 auto
                border-image linear-gradient(to left, rgba(#000, 1) 0%, rgba(#000, 0) 100%) 1

            & > .nav-item:last-child
                // flex 1 1 auto
                border-image linear-gradient(to right, rgba(#000, 1) 0%, rgba(#000, 0) 100%) 1


        .tab-content
            flex 1 1 auto
            background-image linear-gradient(to bottom, rgba(#fff, 0.5) 20%, rgba(#fff, 0) 100%)

            & > .tab-pane:not(.active)
                display none !important

            h3
                color #fff
                font-family "Trajan Pro 3"
                font-size 30px
                font-weight 400
                line-height 2em
                text-shadow 1px 1px 5px rgba(0, 0, 0, 0.93)

                border-bottom 3px solid black
                border-image linear-gradient(to right, rgba(#000, 0) 10%, rgba(#000, 1) 30%, rgba(#000, 1) 70%, rgba(#000, 0) 90%) 1

            p
                color #000
                font-family Aniron
                font-size 20px
                font-weight 700
                line-height 46.96px
                letter-spacing -1px

            .icons
                .icon
                    width 20%
                    text-align center

                img
                    max-height 150px
                    max-width 200px
