$root = "../../../"
@require $root + "app/utils.styl"

sm = 576px
md = 768px
lg = 992px
xl = 1200px

#about
    position relative
    background url($root + "assets/images/bg-clouds.png")
    background-repeat repeat
    background-position-x -100px
    // perspective 1px

    h2
        font-family "Trajan Pro 3"
        font-weight bolder
        font-size 30px
        line-height 55.49px

    h3
        font-family "Trajan Pro 3"
        font-weight bolder
        font-size 17px
        line-height 32px

// -- slides --
#begin
    h1
        color #efd997
        font-family "Trajan Pro 3"
        font-size 64px
        font-weight 600
        line-height 54.25px
        letter-spacing -2.28px

    h1.bg-clip-text
        background-image linear-gradient(to top, rgba(229, 195, 90, 1) 0%, rgba(255, 255, 255, 1) 100%)

    h1 + img
        max-width 100%


    .slide-preview-icon
        flex-grow 1

        & > img
            max-width 100%

    .slide-preview-text
        text-shadow 1px 3px 5px rgba(0, 0, 0, 1)
        color #fdfaf1
        font-family "Trajan Pro 3"
        font-size 24px
        line-height 27.49px
        letter-spacing -0.97px

    .begin-description
        color #000
        opacity 0.9
        font-family Aniron
        font-size 26px
        font-weight 700
        text-shadow 0 0 15px rgba(255, 255, 255, 1)
        letter-spacing -0.53px

        em
            font-style inherit
            font-size 1.26em

        & > p.desc-3
            font-size 1.13em
            letter-spacing -0.7px

    .begin-description-2
        color #fff
        font-family Aniron
        font-size 37px
        font-weight 700
        line-height 58.89px
        text-align right
        background-image linear-gradient(to top, rgba(229, 195, 90, 1) 0%, rgba(255, 255, 255, 1) 100%)

        @media screen and (max-width: xl - 0.02)
            font-size 34px
