doctype html 5
html(ng-app="app")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        
        //- meta(property="og:type" content="website")
        //- meta(property="og:url" content="http://allrussia.online")
        //- meta(property="og:title" content="\"РОССИЯ ОНЛАЙН\" — Красиво. Интерактивно. О стране.")
        //- meta(property="og:description" content="ТАСС представляет бета-версию проекта интерактивной визуализации данных")
        //- meta(property="og:image" content="http://allrussia.online/assets/images/share/OG-MAIN_1200x630.png")

        //- link(rel="image_src" href="//allrussia.online/assets/images/share/OG-MAIN_1200x630.png")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Mono:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:R,B,I,L,BI,LI&subset=Latin,Cyrillic")
        
        //- link(rel="stylesheet" href="//afeld.github.io/emoji-css/emoji.css")

        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

        script(src="/config.js")

        block head
            title SkyMP

    body
        //- div(style="position: absolute; background: #eee; z-index: 1000;")
            code #{JSON.stringify(process, 4)}
            for v, k in global
                p: code #{k} #{v}

        block body
            div#viewport Loading...
