$root = "../../../"
@require $root + "app/utils.styl"

#viewport
    position relative
    background url($root + "assets/images/bg-clouds.png")
    background-repeat repeat
    background-position-x -100px
      // perspective 1px

.bg-top
    position absolute
    top 0
    left 0
    width 100%

.bg-bottom
    position absolute
    bottom 0
    left 0
    width 100%

.main-block
    padding 15px 0

#btn-play
    sprite("./assets/btn-play.png", 1, 3, 1)
    display inline-block
    margin-top -15px

    &:hover
        sprite("./assets/btn-play.png", 1, 3, 2)

    &:active
        sprite("./assets/btn-play.png", 1, 3, 3)
        transform translateY(2px)

#carousel
    height calc(100vh - 240px)

#content
    margin-top 15px
    height 150vh
    // min-height 1000px

#news
    .block
        background-image linear-gradient(to bottom, rgba(#ffffff, 0.45) 0%, rgba(#ffffff, 0.45) 80%, rgba(#313436, 0) 100%)

#footer
    margin-top 15px
    height 100px
    // min-height 100px

    .bg-container
        background-image linear-gradient(to bottom, rgba(#ffffff, 0.45) 0%, rgba(#313436, 0) 100%)

    .border-container
        &:before, &:after
            background-image linear-gradient(to bottom, rgba(white, 0.6) 0%, rgba(#313436, 0) 100%)
