$root = "../../../"
@require $root + "app/utils.styl"

#viewport
    position relative
    background url($root + "assets/images/bg-clouds.png")
    background-repeat repeat
    background-position-x -100px
      // perspective 1px

.bg-top
    position absolute
    top 0
    left 0
    width 100%

.bg-bottom
    position absolute
    bottom 0
    left 0
    width 100%

.main-block
    padding 15px 0

#btn-play
    sprite("btn-play.png", 1, 3, 1)
    display inline-block

    &:hover
        sprite("btn-play.png", 1, 3, 2)

    &:active
        sprite("btn-play.png", 1, 3, 3)

#header
    min-height 100vh

#content
    margin-top 15px
    height 150vh
    // min-height 1000px

#footer
    margin-top 15px
    height 100px
    // min-height 100px
