#viewport
    position relative
    background url(https://media.discordapp.net/attachments/384036315374813186/384464266243342349/cloudback.png)
    background-repeat repeat
    background-position-x -100px
      // perspective 1px

.bg-top
    position absolute
    top 0
    left 0
    width 100%

.bg-bottom
    position absolute
    bottom 0
    left 0
    width 100%

.bg-block
    background rgba(255, 255, 255, 0.2)

.bg-tea
    background rgba(187, 238, 221, 0.1)

.h100
    height 100%

.main-block
    padding 15px 0

#header
    min-height 100vh

#content
    margin-top 15px
    height 150vh
    // min-height 1000px

#footer
    margin-top 15px
    height 100px
    // min-height 100px
