extends ../../../layout.pug

block body
    div#viewport
        div.bg-top
            img( src="https://media.discordapp.net/attachments/384036315374813186/384461712583032833/4bec1247d4529f9d.png" width="100%" height="auto")
        div.bg-bottom
            img( src="https://media.discordapp.net/attachments/384036315374813186/384464195057614868/2.png" width="100%" height="auto")
        
        //- div.navbar
      
        div.container.main-block.bg-tea
            div#header.row.no-gutters
                div.col-sm-12
                    div.h100.col-sm-12
                        div.bg-block.h100
        
            div#content.row.no-gutters
                div#news.col-sm-9
                    div.col-sm-12.h100
                        div.bg-block.h100
                            
                div#sidebar.col-sm-3
                    div.col-sm-12.h100
                        div.bg-block.h100
          
            div#footer.row.no-gutters
                div.col-sm-12
                    div.h100.col-sm-12
                        div.bg-block.h100
        
