section#fractions
    background-image url($root+'assets/images/bg-fractions.png')

    h2.section-header
        font-size 75px // 79
        line-height 2em

        & > i.fa
            display inline // must have for fa gradient
            font-size 2em
