section#fractions
    background-image url($root+'assets/images/bg-fractions.png')

    .section-header
        font-size 75px // 79
        line-height 2em
        filter drop-shadow(1px 2px 3px #000)

        // & > i.fa
        //     display inline // must have for fa gradient
        //     font-size 2em

        & > h2
            background-image linear-gradient(to top, #e5c35a 0%, #fff 100%)
            font-size inherit
            line-height inherit

        & > i.icon
            display inline-block
            height 2em
            width 1em
            background-image linear-gradient(to top, #e5c35a 0%, #fff 100%)
            -webkit-mask-image url('./assets/icons/speech.svg')
            -webkit-mask-repeat no-repeat
            -webkit-mask-size cover
            mask-image url('./assets/icons/speech.svg')
            mask-repeat no-repeat
            mask-size cover

            &:last-child
                width 1.2em
                -webkit-mask-position right

    .feature
        width 1100px
        height 150px
        text-shadow 0 0 4px rgba(238, 238, 238, 0.75)
        color #000000
        font-family Aniron
        font-size 20px
        font-weight bold
        line-height 38.96px
        margin-left 70px

    .sub-title
        width 1000px
        height 46px
        text-shadow 4px 3px 0 rgba(0, 0, 0, 0.94)
        color #ffffff
        font-family "Trajan Pro 3"
        font-size 45px
        font-weight bold
        line-height 46.96px
        margin-left 100px
        padding-top 80px

    .neutral-guilds        
        width 1000px
        margin-left 50px

    .item 
        height 230px        
        width 150px
        padding 45px 25px
        margin 30px 20px 20px 20px

    .line
        content ' '
        width 947px
        height 5px
        box-shadow 4px 3px 4px 1px rgba(0, 0, 0, 0.71)

