if !data
    - var data = require('../_data');
    
section#fractions.section.py-2: .container
    .section-inner.d-flex.flex-column.align-items-stretch.justify-content-between
        h2.section-header.bg-clip-text.text-center.mt-2 Фракции и гильдии
