if !data
    - var data = require('../_data');
    
section#fractions.section.py-2: .container
    .section-inner
        //- iconic font try
        //- h2.section-header.bg-clip-text.text-center.mt-2.d-flex.justify-content-center
            i.fa.fa-align-right
            span Фракции и гильдии
            i.fa.fa-align-left

        h2.section-header.bg-clip-text.text-center.mt-2.d-flex.justify-content-center
            i.icon.mr-2
            span Фракции и гильдии
            i.icon.ml-2    
            
